* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

	.slider_naslov1 {
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		color: #cd464b;
		font-size: 83px !important;
		text-transform: uppercase;
	}

		.yellow {
			color: #fbb73a;
		}

		.blue {
			color: #39a6b9;
		}

	.slider_naslov2 {
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
		color: #343436;
		font-size: 72px !important;
		text-transform: uppercase;
		margin-top: 90px !important;
	}

	.slider_naslovp {
		width: 410px;
		height: 80px;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: #343436;
		font-size: 28px !important;
		margin-top: 220px !important;
	}

		.p2 {
			margin-top: 260px !important;
		}

	.slider_naslovbox {
		width: 200px;
		height: 65px;
		border: 2px solid #343436;
		margin-top: 350px !important;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

		.slider_naslovbox p {
			font-family: 'Raleway', sans-serif; font-weight: 700;
			color: #343436; 
			font-size: 24px !important; 
			text-transform: uppercase;
			margin-left: 40px !important;
			margin-top: 15px !important;
			transition: all 0.3s;
		}

		.slider_naslovbox:hover {
			background-color: #343436; 
			cursor: pointer;
		}

		.slider_naslovbox:hover p {
			color: white; 
		}


.products_container {
	width: 100%;
	height: 1225px;
}

	.products {
		width: 80%;
		height: 370px;
		margin: 0 auto;
	}

		.products h1 {
			font-size: 60px;
			font-weight: 700;
			font-family: 'Oswald', sans-serif;
			margin-top: 100px;
			text-align: center;
			color: #343436;
			text-transform: uppercase;
		}

		.line1 {
			width: 76px;
			height: 35px;
			border-bottom: 4px solid #343436;
			margin: 0 auto;
		}

		.line2 {
			width: 125px;
			height: 15px;
			border-bottom: 4px solid #343436;
			margin: 0 auto;
		}

		.products h3 {
			font-size: 18px;
			font-weight: 400;
			font-family: 'Raleway', sans-serif;
			margin-top: 40px;
			text-align: center;
			color: #7e7e7e;
		}

	.products_all {
		width: 80%;
		height: 845px;
		margin: 0 auto;
	}

		.products_ind1 {
			width: 33%;
			height: 845px;
			float: left;
		}

			.products_ind1 img {
				margin-left: 13%;
			}

		.products_ind2 {
			width: 34%;
			height: 845px;
			float: left;
			background: url(../media/images/hpborders.png);	
			background-repeat: no-repeat;
			background-position: 20% 20%;		
		}

			

			.products_ind2 img {
				margin-left: 13%;
			}

		.products_ind3 {
			width: 33%;
			height: 845px;
			float: left;
		}

			.products_ind3 img {
				margin-left: 13%;
			}

	.button_more {
		width: 200px;
		height: 65px;
		border: 2px solid #343436;
		margin: 70px 25% 0 25%;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

		.button_more p {
			font-family: 'Raleway', sans-serif; font-weight: 700;
			color: #343436; 
			font-size: 24px; 
			text-transform: uppercase;
			text-align: center;
			padding-top: 15px;
			transition: all 0.3s;
		}

	.button_more:hover {
			background-color: #343436; 
			cursor: pointer;
		}

		.button_more:hover p {
			color: white; 
		}

.benefits_container {
	width: 100%;
	height: 845px;
	background-color: #f2f2f2;
}

	.benefits {
		width: 80%;
		height: 470px;
		margin: 0 auto;
	}

		.benefits h1 {
			font-size: 60px;
			font-weight: 700;
			font-family: 'Oswald', sans-serif;
			padding-top: 100px;
			text-align: center;
			color: #343436;
			text-transform: uppercase;
			background-color: #f2f2f2;
		}

		.line1 {
			width: 76px;
			height: 35px;
			border-bottom: 4px solid #343436;
			margin: 0 auto;
		}

		.line2 {
			width: 125px;
			height: 15px;
			border-bottom: 4px solid #343436;
			margin: 0 auto;
		}

		.benefits h3 {
			font-size: 18px;
			font-weight: 400;
			font-family: 'Raleway', sans-serif;
			margin-top: 40px;
			text-align: center;
			color: #7e7e7e;
		}

	.benefits_all {
		width: 80%;
		height: 375px;
		margin: 0 auto;
		/*background-color: red;*/
	}

		.benefits_ind {
			width: 33.3%;
			height: 375px;
			float: left;
		}

			.benefits_ind img {
				margin: 0 38% 0 38%;
			}

				.benefits_h {
					font-size: 24px;
					font-family: 'Oswald', sans-serif;
					font-weight: 700;
					text-transform: uppercase;
					color: #343436;
					text-align: center;
					margin-top: 35px;
				}

				.benefits_p {
					font-size: 18px;
					font-family: 'Raleway', sans-serif;
					font-weight: 400;
					color: #343436;
					text-align: center;
					margin-top: 35px;
					padding: 0 5% 0 5%;
				}

	.articles_container {
		width: 100%;
		height: 1225px;
	}

		.articles {
		width: 80%;
		height: 370px;
		margin: 0 auto;
	}

		.articles h1 {
			font-size: 60px;
			font-weight: 700;
			font-family: 'Oswald', sans-serif;
			margin-top: 100px;
			text-align: center;
			color: #343436;
			text-transform: uppercase;
		}

		.line1 {
			width: 76px;
			height: 35px;
			border-bottom: 4px solid #343436;
			margin: 0 auto;
		}

		.line2 {
			width: 125px;
			height: 15px;
			border-bottom: 4px solid #343436;
			margin: 0 auto;
		}

		.articles h3 {
			font-size: 18px;
			font-weight: 400;
			font-family: 'Raleway', sans-serif;
			margin-top: 40px;
			text-align: center;
			color: #7e7e7e;
		}

	.articles_all {
		width: 80%;
		height: 850px;
		margin: 0 auto;
	}

		.articles_ind {
			width: 30%;
			height: 850px;
			float: left;
			margin-right: 5%;
		}

		.articles_ind2 {
			width: 30%;
			height: 850px;
			float: left;
		}

			.articles_ind img {
				width: 390px;
				height: 390px;
			}

			.articles_ind2 img {
				width: 390px;
				height: 390px;
			}

			.article_h {
				font-size: 26px;
				font-weight: 700;
				font-family: 'Oswald', sans-serif;
				margin-top: 20px;
				color: #343436;
			}

			.article_small {
				margin-top: 10px;
				margin-bottom: 30px;
			}

				.article_small img {
					width: 14px;
					height: 17px;
				}

				.article_small span {
					font-size: 18px;
					font-weight: 400;
					font-family: 'Raleway', sans-serif;
					color: #7d7d7d;
					margin-right: 7px;
				}

			.article_lorem {
				font-size: 18px;
				font-weight: 400;
				font-family: 'Raleway', sans-serif;
				color: #343436;
				line-height: 1.5;
			}

			.article_button {
				width: 200px;
				height: 65px;
				border: 2px solid #343436;
				margin: 40px 0 0 0;
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
			}

				.article_button p {
					font-family: 'Raleway', sans-serif; font-weight: 700;
					color: #343436; 
					font-size: 24px; 
					text-transform: uppercase;
					text-align: center;
					padding-top: 15px;
					transition: all 0.3s;
				}

			.article_button:hover {
					background-color: #343436; 
					cursor: pointer;
				}

				.article_button:hover p {
					color: white; 
				}