* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
}

.login {
	width: 80%;
	height: 380px;
	margin: 300px auto 0 auto;
}

	.login h1 {
		font-size: 60px;
		font-weight: 700;
		font-family: 'Oswald', sans-serif;
		margin-top: 100px;
		text-align: center;
		color: #343436;
		text-transform: uppercase;
	}

	.line1 {
		width: 76px;
		height: 35px;
		border-bottom: 4px solid #343436;
		margin: 0 auto;
	}

	.line2 {
		width: 125px;
		height: 15px;
		border-bottom: 4px solid #343436;
		margin: 0 auto;
	}

	.login h3 {
		font-size: 18px;
		font-weight: 400;
		font-family: 'Raleway', sans-serif;
		margin-top: 40px;
		text-align: center;
		color: #7e7e7e;
	}


.form {
	width: 50%;
	margin: 0 auto;
}

	.form p {
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
		font-weight: 600;
		color: #343436;
		text-align: center;
		margin-bottom: 10px;
	}

	.input {
		display: block;
		margin:0 auto 20px auto;
		width: 50%;
		height: 65px;
		border: 2px solid #343436;
		font-size: 24px;

	}

	.button {
		display: block;
		width: 200px;
		height: 65px;
		margin: 0 auto 120px auto;
		border: 2px solid #343436;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		color: #343436;
		font-size: 24px; 
		text-transform: uppercase;
		text-align: center; 
		font-family: 'Raleway', sans-serif; font-weight: 700;
		background-color: white;
	}

	.button:hover {
			background-color: #343436; 
			cursor: pointer;
			color: white;
		}

		